---
layout: default
title: Ximin's Homepage
picture: life
---
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3>
                <strong style="font-family: 'Times New Roman'; font-size: 24px;">Ximin Li</strong> (<span
                    style="font-family: 'STXingkai'; font-size: 26px;">李熙敏</span>)
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <address>
                School of Economics<br/>
                Northeast Normal University
                <br/>
                2555 Jingyue Street, Jilin, China
                <br/>
            </address>
        </div>
        <div class="col-sm-4">
            <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="http://ximin.pro/">http://ximin.pro/</a><br/>
            <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:mrliximin@126.com">mrliximin@126.com</a><br/>
            <span class="glyphicon glyphicon-phone"></span> Phone: +86 131-7904-2001<br/>
        </div>
    </div>
</div>

<p>

<div style="text-align: center;color: #333!important;width: 100%;"><h4>Welcome!</h4></div>
</p>

<h4>Biography</h4>
<p>
    I’m a research postgraduate student studying Regional Economics at <a href="http://en.nenu.edu.cn/">Northeast Normal
    University</a> in China, under the supervision of Prof. Xiumin Li since Augest 2016. and I will get my master degree
    in 2019. Previously, I received my bachelor degree in Finance from <a href="http://www.imu.edu.cn/yw/Home.htm">Inner
    Mongolia University</a> in June, 2016.
</p>
<p>
    Please refer to <a href="CV/CV_Ximin.pdf"><strong class="color-blue-line">Resume/CV</strong></a> for more details.
</p>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<!-- <blockquote>
  <span style="font-size: 10px; font-style: italic; color: #999;">
    <i>
      Although I majored in Cloud Computing during my master's degree, I have a strong interest in Natural Language Processing and Machine Learning, and have been working the Machine Learning & NLP group of 
      <a href="http://www.aitech.xin">Aizhihui Technology Co., Ltd.</a> as an 
      <strong class="color-blue">intern for over one year</strong> 
      in Shenzhen, China. During my internship, I have done much research work on the topics of it.
    </i>
  </span>
</blockquote> -->
<ul>
    <li>City Efficiency and Scale</li>
    <li>Urban Agglomeration</li>
    <li>Spatial Econometrics</li>
</ul>


<div class="solid-line"></div>
<h4>Education</h4>
<ul>
    <li>
        <strong>Master</strong> |
        <span>
    School of Economics, Northeast Normal University
    </span>,
        2016 - 2019<br/>
        Major: Regional Economics<br/>


    </li>
    <li>
        <strong>Bachelor</strong> |
        <span>
        School of Economics and Management,
        Inner Mongolia  University

    </span>,
        2012 - 2016<br/>
        Major: Finance
    </li>
</ul>

<div class="solid-line"></div>
<h4>Publications</h4>
<p>
    [1] Li Xiumin, <strong>Li Ximin</strong>, He Yuanzhe."City Size and Efficiency in China", the 65th
    Annual North American Meetings of the Regional Science Association International
    (NARSA), 2018<br/>
    [2] Li Xiumin, <strong>Li Ximin</strong>, He Yuanzhe, Wang Yanzhen."City Size, Spatial Spillover and Productivity in
    China", the 8th Asian Seminar in Regional Science (ASRS), 2018
</p>
<!-- <div class="solid-line"></div>
<h4>Publications</h4>
Not yet for the moment. ):
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %} -->


<div class="solid-line"></div>
<h4>Internship</h4>
<ul>
    <li>
        <strong>Assistant Analyst </strong> | CCXI(China Cheng Xin International Credit Rating Co., Ltd.)<br/>
        <!--     <strong>Topic:</strong> Natural Language Processing<br/>
         -->    Dec. 2017 – Feb.2018
    </li>
    <li>
        <strong>Investment Assistant </strong> | Shenzhen Qianhai Puhuizhihe Fund Management Co., Ltd. <br/>
        <!--     <strong>Topic:</strong> Natural Language Processing<br/>
         -->    May. 2017 – Aug.2017
    </li>

</ul>

<div class="solid-line"></div>
<h4>Miscellaneous</h4>
<p>
    I love movies and dramas, especially art films and musicals. I’m also keen on painting, calligraphy and dancing,
    which I have practiced since I was young. My favorite sports are playing tennis and Swimming.<br/>
</p>
<br/>
<br/>

<!-- <div>
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=mFaxT5_Gxs_3AlkQfxb75Y66YQz07F4Hybrv8hHCDmI&co=38aafa&cmo=3acc3a&cmn=ff5353&ct=ffffff"></script>
</div> -->


